# Go artifacts
build/
bin/
.wails-tmp/
data/*.sqlite
data/*.sqlite*
data/backups/

# Frontend dependencies and bundles
frontend/node_modules/
frontend/dist/*
!frontend/dist/placeholder.txt
frontend/package.json.md5
frontend/wailsjs/

# Editor
.idea/
.DS_Store

# Logs
*.log
